@use "base/variables" as v;
@use "base/mixins" as m;

.form {
    width: 100%;
    
    fieldset {
        border-radius: 1rem;

        legend {
            margin-left: 1rem;
        }

        .field:last-of-type {
            margin-bottom: 0;
        }
    }

    input[type=submit] {
        margin: 2rem 0;
    }
}

.field {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;

    label {
        width: 10rem;
    }

    input {
        width: 100%;
        border: none;
        padding: calc(v.$separacion / 7);
        border-radius: 1rem;
    }
}