@use "base/variables" as v;
@use "base/mixins" as m;

.table-appointments {
    width: 100%;
    text-align: center;
    th, td {
        border-bottom: .1rem solid v.$blanco;
        padding: 2rem;
    }

    .arrow-icon {
        cursor: pointer;
        transition: transform .3s ease;
        width: 3rem;
        filter: invert(1);
        transform: rotateZ(90deg);
    }

    .action-icon {
        cursor: pointer;
        width: 2rem;
        filter: invert(1);
    }


    .rotate {
        transform: none;
    }
}