@use "base/variables" as v;
@use "base/mixins" as m;

.container-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .image {
        margin-top: 4.5rem;
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center;
        
        @include m.tablet {
            height: auto;
            margin-top: 0;
        }
    }

    .no-margin {
        margin: 0;
    }

    .align-right {
        @include m.tablet {
            margin-left: auto;
        }
    }

    .app {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 2.3rem;
        @include m.tablet {
            overflow-y: scroll;
        }
    }   
}