@use "base/variables" as v;
@use "base/mixins" as m;

.container-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .image {
        margin-top: 4.5rem;
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center;

        @include m.tablet {
            height: auto;
            margin-top: 0;
        }
    }

    .app {
        width: 100%;
        margin: 0 auto;
        padding: 3rem 2.3rem;
        @include m.tablet {
            overflow-y: scroll;
        }
    }   
}

.nav-bar-desktop {
    display: none;
}

@include m.tablet {
    .nav-bar-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    .icon-menu {
        display: none;
    }

    .button {
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav-bar-mobile {
    @include m.tablet {
        display: none;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: v.$negro;

    p {
        margin: 0 1rem 0 0 ;
    }
}

.icon-menu, .user-icon {
    width: 3rem;
    filter: invert(1);
    margin-left: 2rem;
}

.user-icon {
    margin-right: 1rem;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        color: v.$blanco;
        margin: 2rem 0 0 2rem;
        font-size: 3rem;
    }

    a:first-child {
        display: flex;
        align-items: center;
        height: 4.5rem;
        margin: 0;
    }
}